<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css')}}">
    
    <title>Weather App</title>
</head>
<body>
   
    <form class="searchbox" name="search" action="/sendata"method="post">
        <input type="search" name="cityname" placeholder="Search" />
        <button type="submit" value="search">&nbsp;</button>
    </form>


</body>
</html>